body
{background-color:#f8f2dc;}

h1{text-align:center;
    color:#343434}
h2,h3,h4,p {text-align: left;
        color:#1a1616
}  
footer {text-align:center;}
a{text-align:center;
    display:block;}
