body
/*{background-color:#f8f2dc;*/

{ background:linear-gradient(180deg, rgb(240,230,140)0%, rgb(250,250,210)50%, rgb(255,248,220)100%)
}
h1{text-align:center;
    color:#343434}
h2,h3,h4,p {text-align: left;
        color:#1a1616
}  
footer {text-align:center;}
a{text-align:center;
    display:block;}
.gmail,.linkedin {text-align:center;}